<div>
  <ul class="nav nav-tabs nav-justified">

    @for (item of cities; track item) {
    <li class="nav-item">
      <a class="nav-link" [class.active]="item === selectedCity" aria-current="page" href="#"
        (click)="onTabChange(item)">{{item}}</a>
    </li>
    }
  </ul>
  <div class="row" *ngIf="(cityWeatherData$ | async) as cityWeatherNew">

    <div class="col-xs-12"><app-hourly-temperature
        [hourlyWeather]="cityWeatherNew.hourlyWeather"></app-hourly-temperature></div>
    <div class="col-xs-12"><app-daily-temperature [dailyWeather]="cityWeatherNew.dailyWeather"></app-daily-temperature>
    </div>
  </div>
</div>